# An Examination of CAO Points Data 2019 - 2021
## Submission Assignment for Fundamentals of Data Analysis
## GMIT Higher Diploma in Data Analytics
#### Gerry Donnelly November 2021

### Introduction
This assignment is about getting data from websites and being able to analyse that data, all through Python. The specific use case in this instance is the points data contained on the CAO website. The objective of the assignment is to be able to automatically extract the relevant points data for the years 2019, 2020 and 2021 and complete an analysis of that data, comparing each of the years and assessing what are the key trends that emerge from the data. 

The CAO or Central Applications Office is the body that processes all applications for third level educational institutions that are part of the Irish Higher Education system (HEI's). Students sit the Leaving Certificate exam, i.e. the final assessment of second level education and on the basis of results in each subject taken are awarded points. The sum total of points achieved are used by the HEI's to make course offers to students on the basis of their overall points tally and their prior stated course preferences. All of the third level course offers to students are then made thorugh the CAO.

The CAO was instituted in 1977 and it is interesting to note that from a starting point of just 5 HEI's in 1977 and just under 15 thousand applicants it has grown steadily since then to reach 37 HEI's and in excess of 80 thousand applicants in 2021. The number of courses offered has gone from 69 in 1977 to over 1000 in 2021. [CAO Media Stats](http://www.cao.ie/index.php?page=mediapack&bb=mediastats)

While not considered in this assignment the growth, changes in the scale and course profiles offered by the CAO since its inception in 1977 provides an interesting insight into wider societal changes. Over this period Ireland has transformed itself from a largely rural and small scale industrial profile to one where some of the giants of 21st century global industry are happy to operate here. For example, one can only marvel at the scale of the site currently under construction at Intel in Leixlip, a scene unrecognisable to the leaving cert cohort of 1977 but entirely in keeping with the skillsets emerging from our 21st century education system.

On a narrower, but no less interesting time scale, i.e. 2019 - 2021, it will be interesting to see how the impact of a global pandemic and the complete upheaval of the education system during this period may be reflected in the CAO points trends over the three years. Apart from the mechanics of getting at the data, this will be the primary outcome of this assignment.

### Assignment Outline

The assignment will be tackled in the following stages:
- Accessing and extracting the 2019 - 2021 points data from the CAO Website
- Creating a single pandas dataframe to hold all of the data.
- Use of the pandas dataframe to analyse the points data across the 3 years. 
- Use of plots to demonstrate the essential elements of the analysis.

In terms of assignment scope in relation to the data following should be noted:
- The analsyis will be confined to the points data for first round offers for **Level 8** courses only. While it is recognised that Levels 6 and 7 courses play an important role in higher education the clearest indicators of pandemic impacts are at the Level 8 courses. 
- To provide meaningful year on year comparisons the analysis will also be restricted to those courses that appear in all three years, the logic being this is the best way to see the year on year trends. I will use 2019 as the base year.

#### Section 1 - Getting the Data. 
All the CAO points data is contained on the CAO website with links for each year going back to 1998. 

Initial Observations on the points Data
- For some reason the CAO do not appear to maintain a consistent approach to providing the annual points data. This provides some interesting challenges to get the data.
- Points 2019. The data is contained in a PDF document which requires additional steps to convert to a form useable in a pandas dataframe. 
- Points 2020. The data is contained in a Excel .xlsx format which can be used directly to import to a dataframe.  
- Points 2021. The data is now contained in an Excel .xlsx file, previously it was contained only in a web page.

However there are some common characteristics to the data common across all years that will form an important part of the extraction, transformations and analysis:
- Every Level 8 course is assigned a 5 character code, example *DC120 - Computing for Business.*
    - The first 2 characters are alphabetic and indicate the college, in the above example DC refers to Dublin City University.
    - The three digits indicate the course.
- In general the datasets contain course codes, course names, college names and points for each course, being initial offers and subsequect offer rounds. 

In addition all courses are alos assigned to an ISCED classification. [Link to ISCED Description](https://en.wikipedia.org/wiki/International_Standard_Classification_of_Education). This classification system, designed in the early 1970's and substantially updated in 1997 and 2011 serves to provide a standard international classification system across all educational levels in all counrties. It allows for course and course level comparibility within countries and internationally. The ISCED 2011 has been adopted across the EU since 2014 and the revised classification of fields of education and training ISCED-F-2013 has been implemented on education systems data collection since 2014/2015. [Link to ISCED Eurostat](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=International_Standard_Classification_of_Education_(ISCED)#Implementation_of_ISCED_2011_.28levels_of_education.29).

For example in ISCED-F 2013 **06** defines the field of Information and Communication Technologies and in the CAO system 061 defines courses allocated to the general subject area of Information and Communication Technologies (ICTs). 

So for a full course classifications example CK411 is a Level 8 course in Data Science and Analytics course offered by University College Cork and is assigned to (061) Information and Communication Technologies (ICTs) for general classification. These classifications will be useful in looking at trends in general areas as against specific courses. 

Another point to note is that the points data also inlcudes additional characters that have to be dealt with, usually appended before or after the numeric digits. It also inlcudes non numeric data.
- The # character signifies that entry to the associated course is also dependant on an additional Test, Interview, Portfolio or Audition, e.g. #700 or #+matric.
- AQA indicates that the course had sufficient places to offer to all qualified applicants so no points data is provided. 
- The * character indicates that not all applicants achieveing the points score were offered places, final selection usually by lottery. 
- n/a characters, likely to indicate that there were no applicants or the course was not offered. 

For the purpose of the assignment I will start with the 2021 data and work backwards. Overall my objective is to get each of the years data and combine all to one data frame. The basic structure of this final dataset will be course code, course name, course category, college name, points, year.

##### 2021 CAO Points data
As stated above the 2021 points data can be found at http://www.cao.ie/index.php?page=points&p=2021. 

Initial inspection of the file shows that the row headers are in row 12 of the file so when importing will ignore rows 1 - 11.

In [118]:
# Import the regex library, might need this. 
import re

import pandas as pd

# Import the web requests library
import requests as rq

# Import the datetime library, will use for timestamping files
import datetime as dt

# Import os library, will use this to generate folder paths for saving files. 
import os

In [119]:
# Set up the url for the 2020 points data.It is already in excel format.
cao2021url = 'http://www2.cao.ie/points/CAOPointsCharts2021.xlsx'

In [120]:
# Read in the excel file for the 2021 points data, get a first look at the data. 
df2021 = pd.read_excel(cao2021url, skiprows=11, usecols='A:O')
df2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1451 entries, 0 to 1450
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CATEGORY (ISCED Description)  1451 non-null   object
 1   Course Title                  1451 non-null   object
 2   Course Code                   1451 non-null   object
 3   R1 Points                     1416 non-null   object
 4   R1 Random                     83 non-null     object
 5   R2 Points                     384 non-null    object
 6   R2 Random                     52 non-null     object
 7   EOS Points                    1422 non-null   object
 8   EOS Random                    74 non-null     object
 9   EOS Midpoints                 1433 non-null   object
 10  Course Level                  1451 non-null   int64
 11  HEI                           1451 non-null   object
 12  Test/Interview                119 non-null    object
 13  AVP                           198 non-null    object
 14  v                             5 non-null      object
dtypes: int64(1), object(14)
memory usage: 170.2+ KB

The above information describes the dataframe, some initial observations:
- All the data types except for Course level are are of type object, indicating either text or a mixture of text and numeric.
- Will need to get the R1 Points into a numerical object type. 
- While there are 1451 records there are only 1416 non-null records in the R1 points, will have to see what these are.

In [121]:
# Apart form that the data looks ok, the 1451 rows and 15 columns matches with what is in the excel file. 
df2021

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
0,Engineering and engineering trades,Music and Instrument Technology,AL605,211,NaN,NaN,NaN,211,NaN,319,6,Athlone Institute of Technology,NaN,NaN,NaN
1,Health,Pharmacy Technician,AL630,308,NaN,NaN,NaN,308,NaN,409,6,Athlone Institute of Technology,NaN,NaN,NaN
2,Health,Dental Nursing,AL631,311,NaN,NaN,NaN,311,NaN,400,6,Athlone Institute of Technology,NaN,NaN,NaN
3,Biological and related sciences,Applied Science,AL632,297,NaN,NaN,NaN,297,NaN,454,6,Athlone Institute of Technology,NaN,NaN,NaN
4,Business and administration,Business,AL650,AQA,NaN,AQA,NaN,AQA,NaN,351,6,Athlone Institute of Technology,NaN,avp,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,Information and Communication Technologies (ICTs),Creative Computing,WD211,270,NaN,NaN,NaN,270,NaN,392,8,Waterford Institute of Technology,NaN,NaN,NaN
1447,Personal services,Recreation and Sport Management,WD212,262,NaN,NaN,NaN,262,NaN,304,8,Waterford Institute of Technology,NaN,NaN,NaN
1448,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,230,NaN,230,NaN,230,NaN,361,8,Waterford Institute of Technology,NaN,avp,NaN
1449,Welfare,Early Childhood Care and Education,WD231,266,NaN,NaN,NaN,266,NaN,366,8,Waterford Institute of Technology,NaN,NaN,NaN
1450,Business and administration,Business Information Systems,WD232,261,NaN,261,NaN,261,NaN,329,8,Waterford Institute of Technology,NaN,avp,NaN

In [122]:
# Next step is to create a Level 8 file only, so will extract the Level 8 courses only using the Course Level column. 
df2021_lvl8 = df2021[df2021['Course Level']==8]
df2021_lvl8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034 entries, 29 to 1450
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CATEGORY (ISCED Description)  1034 non-null   object
 1   Course Title                  1034 non-null   object
 2   Course Code                   1034 non-null   object
 3   R1 Points                     1007 non-null   object
 4   R1 Random                     82 non-null     object
 5   R2 Points                     261 non-null    object
 6   R2 Random                     51 non-null     object
 7   EOS Points                    1012 non-null   object
 8   EOS Random                    74 non-null     object
 9   EOS Midpoints                 1016 non-null   object
 10  Course Level                  1034 non-null   int64
 11  HEI                           1034 non-null   object
 12  Test/Interview                99 non-null     object
 13  AVP                           94 non-null     object
 14  v                             0 non-null      object
dtypes: int64(1), object(14)
memory usage: 129.2+ KB

Now we have the level 8 courses only, looks like 27 of the R1 points are null. Good news is that the essential columns; Category, Course Title, Course Code, Course Level and HEI all have 1034 records.

In [123]:
# Have a look at the courses that have no R1 Points data, not sure why so, maybe no applicants, anyway these will be excluded from the analysis. 
nullpoints = pd.isnull(df2021_lvl8['R1 Points'])
df2021_lvl8[nullpoints]

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
34,Architecture and construction,Civil Engineering,AL811,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Athlone Institute of Technology,NaN,NaN,NaN
67,Information and Communication Technologies (ICTs),Creative Computing and Digital Innovation,CW048,NaN,NaN,NaN,NaN,NaN,NaN,0,8,"Institute of Technology, Carlow",NaN,NaN,NaN
221,Welfare,Social Work - Mature Applicants only,CK115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,University College Cork (NUI),NaN,NaN,NaN
287,Information and Communication Technologies (ICTs),Computing (Cloud Computing),DB501,NaN,NaN,178,NaN,178,NaN,309,8,Dublin Business School,NaN,avp,NaN
289,Information and Communication Technologies (ICTs),Computing (Software Development),DB503,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Dublin Business School,NaN,NaN,NaN
290,Information and Communication Technologies (ICTs),Computing (Web and Mobile Technology),DB504,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Dublin Business School,NaN,NaN,NaN
404,Journalism and information,Communications and Media Production,GC250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Griffith College,NaN,NaN,NaN
406,Business and administration,Accounting and Finance,GC301,NaN,NaN,251,NaN,251,NaN,251,8,Griffith College,NaN,avp,NaN
412,Business and administration,Business (HRM),GC402,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Griffith College,NaN,NaN,NaN
432,Business and administration,Accounting and Finance,ID001,NaN,NaN,NaN,NaN,NaN,NaN,0,8,ICD Business School,NaN,avp,NaN
433,Business and administration,Business Studies,ID002,NaN,NaN,NaN,NaN,273,NaN,340,8,ICD Business School,NaN,avp,NaN
458,Health,Medicine - Graduate Entry (GAMSAT required),RC101,NaN,NaN,NaN,NaN,62,*,66,8,RCSI University of Medicine & Health Sciences,#,NaN,NaN
723,Arts,History/Religion,TR454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,NaN,NaN,NaN
732,Arts,"Middle Eastern,Jewish and Islamic Civilisation...",TR564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,#,NaN,NaN
737,Arts,"Middle Eastern,Jewish and Islamic Civilisation...",TR587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,NaN,NaN,NaN
747,Arts,Music/Religion,TR638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,#,NaN,NaN
753,Arts,Religion/Modern Language,TR666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,NaN,NaN,NaN
857,Manufacturing and processing,Agri-Food Production,DK885,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Dundalk Institute of Technology,NaN,NaN,NaN
950,Welfare,Community Development and Youth Work (Level 8),GA892,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Galway-Mayo Institute of Technology,NaN,NaN,NaN
958,Arts,Furniture and Digital Manufacturing,GA983,NaN,NaN,NaN,NaN,NaN,NaN,0,8,Galway-Mayo Institute of Technology,NaN,NaN,NaN
1222,Interdisciplinary programmes and qualification...,Theology,MU002,NaN,NaN,NaN,NaN,411,NaN,411,8,"Pontifical University, St Patrick's College",NaN,avp,NaN
1224,Education,Education - Primary Teaching - Gaeltacht Appli...,MH002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Maynooth University,#,NaN,NaN
1257,Welfare,"Community and Youth Work (part-time, in service)",MH802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Maynooth University,#,avp,NaN
1258,Social and behavioural sciences,"Local Studies/Community Studies (part-time, ev...",MH803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Maynooth University,NaN,avp,NaN
1317,Engineering and engineering trades,Electronics and Self Driving Technologies,SG349,NaN,NaN,NaN,NaN,NaN,NaN,0,8,"Institute of Technology, Sligo",NaN,NaN,NaN
1369,Architecture and construction,Construction Management,TL842,NaN,NaN,NaN,NaN,NaN,NaN,0,8,"Institute of Technology, Tralee",NaN,NaN,NaN
1383,Welfare,Counselling with Addiction - Mature applicants...,TL889,NaN,NaN,NaN,NaN,NaN,NaN,0,8,"Institute of Technology, Tralee",#,NaN,NaN

In [124]:
# Get only the courses that have data in the R1 points column, will have a look further to see if they all have valid points data.
notnullr1 = pd.notnull(df2021_lvl8['R1 Points'])
df2021_lvl8 = df2021_lvl8[notnullr1]
df2021_lvl8

,CATEGORY (ISCED Description),Course Title,Course Code,R1 Points,R1 Random,R2 Points,R2 Random,EOS Points,EOS Random,EOS Midpoints,Course Level,HEI,Test/Interview,AVP,v
29,Information and Communication Technologies (ICTs),Software Design for Virtual Reality and Gaming,AL801,300,NaN,NaN,NaN,300,NaN,359,8,Athlone Institute of Technology,NaN,NaN,NaN
30,Information and Communication Technologies (ICTs),Software Design in Artificial Intelligence for...,AL802,313,NaN,NaN,NaN,313,NaN,381,8,Athlone Institute of Technology,NaN,NaN,NaN
31,Information and Communication Technologies (ICTs),Software Design for Mobile Apps and Connected ...,AL803,350,NaN,NaN,NaN,350,NaN,398,8,Athlone Institute of Technology,NaN,NaN,NaN
32,Information and Communication Technologies (ICTs),Computer Engineering for Network Infrastructure,AL805,321,NaN,NaN,NaN,321,NaN,381,8,Athlone Institute of Technology,NaN,NaN,NaN
33,Architecture and construction,Quantity Surveying,AL810,328,NaN,NaN,NaN,328,NaN,377,8,Athlone Institute of Technology,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1446,Information and Communication Technologies (ICTs),Creative Computing,WD211,270,NaN,NaN,NaN,270,NaN,392,8,Waterford Institute of Technology,NaN,NaN,NaN
1447,Personal services,Recreation and Sport Management,WD212,262,NaN,NaN,NaN,262,NaN,304,8,Waterford Institute of Technology,NaN,NaN,NaN
1448,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,230,NaN,230,NaN,230,NaN,361,8,Waterford Institute of Technology,NaN,avp,NaN
1449,Welfare,Early Childhood Care and Education,WD231,266,NaN,NaN,NaN,266,NaN,366,8,Waterford Institute of Technology,NaN,NaN,NaN
1450,Business and administration,Business Information Systems,WD232,261,NaN,261,NaN,261,NaN,329,8,Waterford Institute of Technology,NaN,avp,NaN

In [125]:
# Rename the ISCED col.
df2021_lvl8=df2021_lvl8.rename(columns={'CATEGORY (ISCED Description)': 'ISCED'})

In [126]:
# Put in a HEI Code
df2021_lvl8['HEI Code'] = df2021_lvl8['Course Code'].str[:2]

In [127]:
# Pick out the columns needed for the analysis. 
df2021_lvl8 = df2021_lvl8[['Course Code', 'Course Title', 'HEI Code', 'HEI', 'ISCED', 'R1 Points']]

In [128]:
# Add the Year.
df2021_lvl8['Year']=str(2021)

In [129]:
df2021_lvl8

,Course Code,Course Title,HEI Code,HEI,ISCED,R1 Points,Year
29,AL801,Software Design for Virtual Reality and Gaming,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),300,2021
30,AL802,Software Design in Artificial Intelligence for...,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),313,2021
31,AL803,Software Design for Mobile Apps and Connected ...,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),350,2021
32,AL805,Computer Engineering for Network Infrastructure,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),321,2021
33,AL810,Quantity Surveying,AL,Athlone Institute of Technology,Architecture and construction,328,2021
...,...,...,...,...,...,...,...
1446,WD211,Creative Computing,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),270,2021
1447,WD212,Recreation and Sport Management,WD,Waterford Institute of Technology,Personal services,262,2021
1448,WD230,Mechanical and Manufacturing Engineering,WD,Waterford Institute of Technology,Engineering and engineering trades,230,2021
1449,WD231,Early Childhood Care and Education,WD,Waterford Institute of Technology,Welfare,266,2021
1450,WD232,Business Information Systems,WD,Waterford Institute of Technology,Business and administration,261,2021

In [130]:
# Check the R1 points, pull out any that dont begin with and contain only numbers from 0 - 9.
#df2021_lvl8[df2021_lvl8['R1 Points'].str.contains('^\d')==False]

In [131]:
# Use os.cwd to generate the current working directory for saving the output files from the analysis.
cwd = os.getcwd()
print(cwd)

C:\Users\donne\OneDrive\Documents\GMIT Data\Fundamentals of Data Analysis\Assessment\data_analysis_assessment

In [132]:
now = dt.datetime.now()
path = cwd + '/CAO_Data'+'/cao2021_' + now.strftime('%Y%m%d_%H%M%S')+'.csv'
#path = cwd + '/CAO_Data'+'/cao2021.csv'
print(path)

C:\Users\donne\OneDrive\Documents\GMIT Data\Fundamentals of Data Analysis\Assessment\data_analysis_assessment/CAO_Data/cao2021_20211130_210703.csv

In [133]:
df2021_lvl8.to_csv(path, index=False)

***

### CAO Points 2020

http://www2.cao.ie/points/CAOPointsCharts2020.xlsx

In [134]:
# Set up the url for the 2020 points data.It is already in excel formst.
cao2020url = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'

In [135]:
# Read in the excel file for the 2020 points data. In this file the header row in in row 11 so skip the first 10 rows. 
df2020 = pd.read_excel(cao2020url, skiprows=10, usecols='A:O')
#df2020.info()

Layout and object types same as 2021 data, will proceed in same way to create the dataframe needed.

In [136]:
#Get and check the level 8 courses only. 
df2020_lvl8 = df2020[df2020['LEVEL']==8]
#df2020_lvl8.info()

In [137]:
# Have a look at the 2020 courses that have no R1 Points data, not sure why so, maybe no applicants, anyway these will be excluded from the analysis. 
nullpoints = pd.isnull(df2020_lvl8['R1 POINTS'])
# There are 19 courses with no points. 
df2020_lvl8[nullpoints]

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,LEVEL,HEI,Test/Interview #,avp,v
97,Welfare,Social Science (Youth and Community Work) - 3 ...,CK114,NaN,NaN,NaN,NaN,777,NaN,NaN,8,University College Cork (NUI),#,NaN,NaN
98,Welfare,Social Work - Mature Applicants only,CK115,NaN,NaN,NaN,NaN,999,NaN,NaN,8,University College Cork (NUI),NaN,NaN,NaN
151,Education,Education - Primary Teaching - Gaeltacht Appli...,CM002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Marino Institute of Education,#,NaN,NaN
309,Information and Communication Technologies (ICTs),Computing (Web and Mobile Technology),DB504,NaN,NaN,281,NaN,281,NaN,281,8,Dublin Business School,NaN,avp,NaN
314,Business and administration,Financial Services,DB516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Dublin Business School,NaN,NaN,NaN
447,Agriculture,Sustainable Agriculture,DK884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Dundalk Institute of Technology,NaN,NaN,NaN
448,Manufacturing and processing,Agri-Food Production,DK885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Dundalk Institute of Technology,NaN,NaN,NaN
487,Veterinary,Veterinary Medicine - Graduate Entry (GAMSAT r...,DN301,NaN,NaN,NaN,NaN,#,NaN,NaN,8,University College Dublin (NUI),#,NaN,NaN
490,Health,Medicine - Graduate Entry (GAMSAT required),DN401,NaN,NaN,NaN,NaN,58,*,61,8,University College Dublin (NUI),#,NaN,NaN
492,Health,Radiography - Graduate Entry,DN411,NaN,NaN,NaN,NaN,#,NaN,NaN,8,University College Dublin (NUI),#,NaN,NaN
538,Education,"Education (Art, Design and Graphics)",GA285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Galway-Mayo Institute of Technology,NaN,NaN,NaN
613,Journalism and information,Communications and Media Production,GC250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Griffith College,NaN,avp,NaN
616,Business and administration,Business Studies - HRM,GC302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Griffith College,NaN,avp,NaN
631,Arts,Design Communication (portfolio),GC462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Griffith College,#,NaN,NaN
891,Education,Education - Primary Teaching - Gaeltacht Appli...,MH002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Maynooth University,#,NaN,NaN
961,Health,Medicine - Graduate Entry (GAMSAT required),RC101,NaN,NaN,NaN,NaN,61,NaN,63,8,RCSI University of Medicine & Health Sciences,#,NaN,NaN
1073,Welfare,Counselling with Addiction - Mature applicants...,TL889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,"Institute of Technology, Tralee",#,NaN,NaN
1178,Arts,"Middle Eastern,Jewish and Islamic Civilisation...",TR564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,#,NaN,NaN
1192,Arts,Religion/Modern Language,TR666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,Trinity College Dublin,NaN,NaN,NaN

In [138]:
# Get only the 2020 courses that have data in the R1 points column, will have a look further to see if they are all valid points data.
notnullr1 = pd.notnull(df2020_lvl8['R1 POINTS'])
df2020_lvl8 = df2020_lvl8[notnullr1]
df2020_lvl8

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,LEVEL,HEI,Test/Interview #,avp,v
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,8,American College,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,8,American College,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,8,National College of Art and Design,#,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,Arts,Arts (options),WD200,AQA,NaN,AQA,NaN,AQA,NaN,336,8,Waterford Institute of Technology,NaN,avp,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,8,Waterford Institute of Technology,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,8,Waterford Institute of Technology,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,8,Waterford Institute of Technology,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,8,Waterford Institute of Technology,NaN,NaN,NaN

In [139]:
# Rename the Columns to the standard list. 
df2020_lvl8=df2020_lvl8.rename(columns={'COURSE CODE2':'Course Code', 'COURSE TITLE':'Course Title','CATEGORY (i.e.ISCED description)': 'ISCED', 'R1 POINTS':'R1 Points'})

In [140]:
# Put in a HEI Code
df2020_lvl8['HEI Code'] = df2020_lvl8['Course Code'].str[:2]

In [141]:
# Pick out the columns needed for the analysis. 
df2020_lvl8 = df2020_lvl8[['Course Code', 'Course Title', 'HEI Code', 'HEI', 'ISCED', 'R1 Points']]

In [142]:
# Add the Year.
df2020_lvl8['Year']=str(2020)
df2020_lvl8

,Course Code,Course Title,HEI Code,HEI,ISCED,R1 Points,Year
0,AC120,International Business,AC,American College,Business and administration,209,2020
1,AC137,Liberal Arts,AC,American College,Humanities (except languages),252,2020
2,AD101,"First Year Art & Design (Common Entry,portfolio)",AD,National College of Art and Design,Arts,#+matric,2020
3,AD102,Graphic Design and Moving Image Design (portfo...,AD,National College of Art and Design,Arts,#+matric,2020
4,AD103,Textile & Surface Design and Jewellery & Objec...,AD,National College of Art and Design,Arts,#+matric,2020
...,...,...,...,...,...,...,...
1455,WD200,Arts (options),WD,Waterford Institute of Technology,Arts,AQA,2020
1460,WD210,Software Systems Development,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),279,2020
1461,WD211,Creative Computing,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),271,2020
1462,WD212,Recreation and Sport Management,WD,Waterford Institute of Technology,Personal services,270,2020
1463,WD230,Mechanical and Manufacturing Engineering,WD,Waterford Institute of Technology,Engineering and engineering trades,253,2020

In [143]:
# Check the R1 points, pull out any that dont begin with and contain only numbers from 0 - 9.
# df2020lvl8[df2020lvl8['R1 POINTS'].str.contains('^\d')==False]

In [144]:
path = cwd + '/CAO_Data'+'/cao2020_' + now.strftime('%Y%m%d_%H%M%S')+'.csv'
df2020_lvl8.to_csv(path, index=False)

### CAO Points 2019

In [21]:
# Set up the url for the 2019 points data, note it is a .pdf file so additional steps will be needed to get at the data. 
cao2019url = 'http://www2.cao.ie/points/lvl8_19.pdf'

Steps to extract the pdf points data from the 2019 CAO file.
There are a number of ways to turn the pdf file into excel. To save time following was done:
- Open the file from the link above in Chrome.
- The built in Adobe Acrobat Chrome extension has a selection of file conversion tools, one of which is pdf to excel conversion.
- The resulting excel file opens in the browser and can be downloaded to a system folder.
- The non needed rows are deleted directly in the resulting file.

In [22]:
# Read in the 2019 points excel file, note this file contains only Level 8 courses. 
# The file also is missing the row level details for the HEI Name and ISCED Category.

# Create a College Code from the first 2 letters of the Course Code, can use this to get the College Name. 
df2019_lvl8 = pd.read_excel('lvl8_2019.xlsx')
df2019_lvl8['HEI Code'] = df2019_lvl8['Course Code'].str[:2]
df2019_lvl8

,Course Code,Course,EOS,Mid,HEI Code
0,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL
1,AL802,Software Design with Cloud Computing,301,306.0,AL
2,AL803,Software Design with Mobile Apps and Connected...,309,337.0,AL
3,AL805,Network Management and Cloud Infrastructure,329,442.0,AL
4,AL810,Quantity Surveying,307,349.0,AL
...,...,...,...,...,...
925,WD200,Arts (options),221,296.0,WD
926,WD210,Software Systems Development,271,329.0,WD
927,WD211,Creative Computing,275,322.0,WD
928,WD212,Recreation and Sport Management,274,311.0,WD
929,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD

In [23]:
# Temporary dataframe to get the HEI details and ISCED Category
df=pd.merge(df2019_lvl8, df2020_lvl8, on='HEI Code', how='inner')
df
#df2019_lvl8.set_index('Course Code').join(df2020.set_index('COURSE CODE2'))

,Course Code,Course,EOS,Mid,HEI Code,COURSE CODE2,COURSE TITLE,HEI,CATEGORY (i.e.ISCED description),R1 POINTS
0,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL,AL801,Software Design with Virtual Reality and Gaming,Athlone Institute of Technology,Information and Communication Technologies (ICTs),303
1,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL,AL802,Software Design with Artificial Intelligence f...,Athlone Institute of Technology,Information and Communication Technologies (ICTs),332
2,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL,AL803,Software Design with Mobile Apps and Connected...,Athlone Institute of Technology,Information and Communication Technologies (ICTs),337
3,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL,AL805,Computer Engineering with Network Infrastructure,Athlone Institute of Technology,Information and Communication Technologies (ICTs),333
4,AL801,Software Design with Virtual Reality and Gaming,304,328.0,AL,AL810,Quantity Surveying,Athlone Institute of Technology,Architecture and construction,319
...,...,...,...,...,...,...,...,...,...,...
38351,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD,WD200,Arts (options),Waterford Institute of Technology,Arts,AQA
38352,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD,WD210,Software Systems Development,Waterford Institute of Technology,Information and Communication Technologies (ICTs),279
38353,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD,WD211,Creative Computing,Waterford Institute of Technology,Information and Communication Technologies (ICTs),271
38354,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD,WD212,Recreation and Sport Management,Waterford Institute of Technology,Personal services,270
38355,WD230,Mechanical and Manufacturing Engineering,273,348.0,WD,WD230,Mechanical and Manufacturing Engineering,Waterford Institute of Technology,Engineering and engineering trades,253

In [24]:
df1 = df.drop_duplicates(subset=['Course Code'])
df2019_lvl8 =df1[['Course Code', 'Course', 'HEI Code', 'HEI', 'CATEGORY (i.e.ISCED description)', 'EOS']]
df2019_lvl8

,Course Code,Course,HEI Code,HEI,CATEGORY (i.e.ISCED description),EOS
0,AL801,Software Design with Virtual Reality and Gaming,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),304
28,AL802,Software Design with Cloud Computing,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),301
56,AL803,Software Design with Mobile Apps and Connected...,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),309
84,AL805,Network Management and Cloud Infrastructure,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),329
112,AL810,Quantity Surveying,AL,Athlone Institute of Technology,Information and Communication Technologies (ICTs),307
...,...,...,...,...,...,...
38176,WD200,Arts (options),WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),221
38212,WD210,Software Systems Development,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),271
38248,WD211,Creative Computing,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),275
38284,WD212,Recreation and Sport Management,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),274
38320,WD230,Mechanical and Manufacturing Engineering,WD,Waterford Institute of Technology,Information and Communication Technologies (ICTs),273

In [25]:
# Select the first 2 columns and standardise the column names.
#courses2019 = df2019[['Course Code', 'Course']]
#courses2019.columns = ['ccode', 'ctitle']
#courses2019

In [26]:
# Join the 2019, 2020 and 2021 files.
allcourses = pd.concat([courses2021,courses2020, courses2019])
allcourses

NameError: name 'courses2021' is not defined

In [ ]:
# Check which course codes are duplicated.
allcourses[allcourses.duplicated(subset=['ccode'])]

In [ ]:
# Only show the unique course codes. 
allcourses.drop_duplicates(subset=['ccode'], inplace=True, ignore_index=True)
allcourses

In [ ]:
allcourses.set_index('ccode').join(df2020.set_index('COURSE CODE2'))

In [ ]:
testjoin=allcourses.merge(df2020[['COURSE CODE2','R1 POINTS']],how='left',left_on='ccode', right_on='COURSE CODE2')
testjoin